<div class="row">
  <div class="col-md-4 mx-auto">
    <div class="card mt-4 text-center" style="background-color:#232629; border:30px;">
      <div class="card-header" style="background-color:#232629;">
        <h1 class="h4">
          Account Login
        </h1>
      </div>
        <img class="rounded-circle mx-auto d-block logo m-4" src="/img/icon.jpeg" style="width: 200px; height:200px" alt="Logo">
      <div style="background-color:#232629;" class="card-body">
        <form action="/users/signin" method="POST">
          <div class="form-group">
            <input style="background-color:#232629; margin: 0 0 15px; color:aliceblue" type="email" class="form-control" name="email" placeholder="Email" autofocus>
          </div>
          <div class="form-group">
            <input style="background-color:#232629; margin: 0 0 15px; color:aliceblue;" type="password" class="form-control" name="password" placeholder="Password">
          </div>
          <button type="submit" class="btn-no">
                <span id="sp1"></span><span id="sp2"></span>
                <span id="sp3"></span><span id="sp4"></span>
                Sign In
            </button>
        </form>
      </div>
    </div>
  </div>
</div>
